/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub 'active_admin'
 *= require 'darkmode'
 */

/*Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import 'bootstrap';
@import "font-awesome";

body, .navbar, .offcanvas, .card, .modal-content, .order > .card, .order-item-input, #order_items > div, .dropdown-menu, .dropdown-item {
  transition: 0.3s ease-in-out;
}

.offcanvas {
  --bs-offcanvas-border-width: 0;
}

body .fade {
  background-color: rgba(0, 0, 0, 0.5);
}

.cards_wrap .card-flyer img {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.cards_wrap .card-flyer {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.cards_wrap .card-flyer:hover img{
  opacity: 0.9;
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1);
  transform:scale(1.1);
}


.cards_wrap .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50) !important;
}

.cart-item-image {
  border-radius: 0.5em;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.order-item-input {
  width: 56px;
  height: 40px;
  text-align: center;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  transition: border .2s ease-in-out;
}

.order-item-input:hover {
  border-color: #a6a5a5;
}

.order-item-input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #6fc4e5;
  z-index: 1;
}

.order-item-input::-webkit-outer-spin-button,
.order-item-input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.order-item-input[type=number]::-webkit-inner-spin-button,
.order-item-input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.carousel-item-image {
  object-fit: contain;
  border-radius: 0.5em;
  height: 250px;
  max-width: 100%;
  margin: auto;
}

#productsCarousel {
  height: 250px;
}

.mobile-add-cart-button {
  width: 40px;
  height: 40px;
  background-color: rgba(var(--bs-secondary-rgb), .1) !important;
}

.order-item-button {
  border: none;
}

.order-item-button:hover {
  color: var(--bs-btn-color) !important;
  background-color: inherit !important;
}

.language-select {
  list-style-type: none;
}

#nav-right .language-select {
  margin-right: 1em;
}

.language-select ul {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.language-select ul a:not(:first-child) {
  border-left: 1px solid var(--bs-gray-600);
}

.order-item-main img {
  object-fit: fill;
}

.card-img-top {
  overflow: hidden;
}

.card-img-top img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
  cursor: pointer;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

@include media-breakpoint-down(sm) {
  .catalog .card, .card-img-top {
    border-radius: 0;
    border-top: none;
    border-left: none;
  }

  .cards_wrap .card-flyer:hover img{
    opacity: inherit;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }

  .cards_wrap .card-flyer:hover {
    box-shadow: inherit !important;
  }

  .desktop-add-cart-button {
    display: none !important;
  }

  .auth-block {
    width: 90% !important;
  }

  .order-item-input {
    border: none;
    width: 32px;
    background-color: inherit !important;
  }

  .order-item-input:hover {
    border: none;
  }

  .order-item-input:focus-visible {
    outline: none;
    box-shadow: none;
    z-index: 1;
  }
  //
  //.order-item-main {
  //  width: 100%;
  //}

  .order-item-button {
    color: var(--bs-btn-color)
  }
}

@include media-breakpoint-up(sm) {
  .mobile-add-cart-button {
    display: none !important;
  }

  .order {
    min-width: 50vw;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }

  .order .card {
    border: none;
    border-radius: 0;
  }

  .auth-block {
    min-width: 25vw !important;
  }

  //.order-item-main {
  //  width: 75%;
  //}`

  .order-item-price {
    width: 25%;
  }
}

@include media-breakpoint-down(lg) {
  #nav-right > .darkmode-switch {
    display: none !important;
  }

  #nav-main > .darkmode-switch {
    display: flex !important;
  }

  #nav-right > .language-select {
    display: none !important;
  }

  #nav-main > .language-select {
    display: flex !important;
  }

  .modal-body {
    flex-direction: column;
  }

  #price-and-button {
    justify-content: space-between;
  }
}

@include media-breakpoint-up(lg) {
  #nav-main {
    width: 100%;
  }
  #nav-right > .darkmode-switch {
    display: flex !important;
  }

  #nav-main > .darkmode-switch {
    display: none !important;
  }

  #nav-right > .language-select {
    display: flex !important;
  }

  #nav-main > .language-select {
    display: none !important;
  }

  #productsCarousel {
    width: 50%;
  }

  #modal-info {
    width: 50%;
  }
}
