/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 //*= stub 'active_admin'
 *= require 'darkmode'
 *= require 'admin_panel'
 *= require 'modal'
 *= require dropzone/dropzone
 */

/*Custom bootstrap variables must be set or imported *before* bootstrap.*/
@import 'bootstrap';
@import "font-awesome";


::selection{
  color: #fff;
  background: #17A2B8;
}
.filter-price{
  width: 300px;
}

.price-input{
  width: 100%;
  display: flex;
  justify-content: space-between;

  & input[type=number] {
    width: 40%;
    height: 2em;
    outline: none;
    border: none;
    -moz-appearance: textfield;
  }

  & :first-child {
    text-align: left;
  }

  & :last-child {
    text-align: right;
  }
}

.slider{
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;

  & .progress{
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 5px;
    background: var(--bs-primary);
  }
}

.range-input{
  position: relative;

  //input[type='range']::-webkit-slider-thumb,
  //input[type='range']::-moz-range-thumb {
  //  border-radius: 50%;
  //  background: #17A2B8;
  //  pointer-events: auto;
  //  -webkit-appearance: none;
  //  box-shadow: 0 0 6px rgba(0,0,0,0.05);
  //}

  & input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &[type="range"] {
      //::-moz-range-thumb
      &::-webkit-slider-thumb {
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background: var(--bs-primary);
        pointer-events: auto;
        -webkit-appearance: none;
        box-shadow: 0 0 6px rgba(0,0,0,0.05);
      }
    }
  }
}

body, .navbar, .offcanvas, .card, .modal-content, .order > .card, .order-item-input, #order_items > div, .dropdown-item {
  transition: 0.3s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.background-image:before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: url("background_light.jpg") fixed;
  background-size: cover;
  height: 100vh;
  z-index: -1;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.offcanvas {
  --bs-offcanvas-border-width: 0;
}

body .fade {
  background-color: rgba(0, 0, 0, 0.5);
}

.user-dropdown {
  background-color: var(--bs-gray-700);
  padding: 0.7em;

  & i {
    display: block;
    width: 16px;
    color: var(--bs-navbar-active-color);
  }

  &:after {
    content: none;
  }
}

.cards_wrap .card-flyer {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  & img {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

  &:hover {
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50) !important;

    & img {
      opacity: 0.9;
      -webkit-transform:scale(1.1);
      -moz-transform:scale(1.1);
      -o-transform:scale(1.1);
      transform:scale(1.1);
    }
  }
}

.cart-item-image {
  border-radius: 0.5em;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.order-item-input {
  width: 56px;
  height: 40px;
  text-align: center;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  transition: border .2s ease-in-out;

  &:hover {
    border-color: #a6a5a5;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #6fc4e5;
    z-index: 1;
  }

  //&::-webkit-outer-spin-button,
  //&::-webkit-inner-spin-button {
  //  -webkit-appearance: none !important;
  //  margin: 0 !important;
  //}

  //&[type=number] {
  //  &::-webkit-inner-spin-button,
  //  &::-webkit-outer-spin-button {
  //    -webkit-appearance: none;
  //  }
  //}
}

.carousel-item-image {
  object-fit: contain;
  border-radius: 0.5em;
  height: 250px;
  max-width: 100%;
  margin: auto;
}

#productsCarousel {
  height: 250px;
}

.mobile-add-cart-button {
  width: 40px;
  height: 40px;
  background-color: rgba(var(--bs-secondary-rgb), .1) !important;
}

.order-item-button {
  border: none;

  &:hover {
    color: var(--bs-btn-color) !important;
    background-color: inherit !important;
  }
}

.language-select {
  list-style-type: none;

  & ul {
    margin: 0;
    padding: 0.5em 0;
    border: 0;
    vertical-align: baseline;

    & a:not(:first-child) {
      border-left: 1px solid var(--bs-gray-600);

    }

    & a {
      color: inherit;
    }
  }
}

.order-item-main img {
  object-fit: fill;
}

.card-img-top {
  overflow: hidden;

  & img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
  }
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.user-role {
  gap: 0.5em;
}

@include media-breakpoint-down(sm) {
  .catalog .card, .card-img-top {
    border-radius: 0;
    border-top: none;
    border-left: none;
  }

  .cards_wrap .card-flyer:hover {
    box-shadow: inherit !important;

    & img{
      opacity: inherit;
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
      transform: none;
    }
  }

  .desktop-add-cart-button {
    display: none !important;
  }

  .auth-block {
    width: 90% !important;
  }

  .order-item-input {
    border: none;
    width: 32px;
    background-color: inherit !important;

    &:hover {
      border: none;
    }

    &:focus-visible {
      outline: none;
      box-shadow: none;
      z-index: 1;
    }
  }

  //
  //.order-item-main {
  //  width: 100%;
  //}

  .order-item-button {
    color: var(--bs-btn-color)
  }
}

@include media-breakpoint-up(sm) {
  .mobile-add-cart-button {
    display: none !important;
  }

  .order {
    min-width: 50vw;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

    & .card {
      border: none;
      border-radius: 0;
    }
  }

  .auth-block {
    min-width: 25vw !important;
  }

  //.order-item-main {
  //  width: 75%;
  //}`

  .order-item-price {
    width: 25%;
  }
}

@include media-breakpoint-down(lg) {
  //#nav-main{
  //  & > .darkmode-switch {
  //    display: flex !important;
  //  }
  //
  //  & > .language-select {
  //    display: flex !important;
  //  }
  //}
  //
  //#nav-right {
  //  & > .darkmode-switch {
  //    display: none !important;
  //  }
  //
  //  & > .language-select {
  //    display: none !important;
  //  }
  //}

  .nav-link {
    --bs-nav-link-color: var(--bs-navbar-color);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  }

  .container-fluid .show > .nav-link, .container-fluid .nav-link.active {
    color: var(--bs-navbar-active-color);
  }

  #price-and-button {
    justify-content: space-between;
  }
}

@include media-breakpoint-up(lg) {
  #nav-main {
    width: 100%;
  }
  //#nav-main {
  //  width: 100%;
  //
  //  & > .darkmode-switch {
  //    display: none !important;
  //  }
  //
  //  & > .language-select {
  //    display: none !important;
  //  }
  //}
  //
  //#nav-right {
  //  & > .darkmode-switch {
  //    display: flex !important;
  //  }
  //
  //  & > .language-select {
  //    display: flex !important;
  //  }
  //}

  #productsCarousel {
    width: 50%;
  }

  #modal-info {
    width: 50%;
  }
}
