:root {
  --switcher-background: var(--bs-light);
  --switcher-moon: #7e7e7e;
  --switcher-sun: var(--bs-white);
  --switcher-left: 2px;
  --switcher-transform: none;
  --switcher-gradient: linear-gradient(180deg,#ffcc89,#d8860b);
}

#darkmode-toggle {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none;
}

.darkmode-toggle-label {
  width: 60px;
  height: 28px;
  position: relative;
  display: block !important;
  border-radius: 200px;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.4), inset 0px -1px 2px rgba(255,255,255,0.4);
  cursor: pointer;
  transition: 0.3s;
  background: var(--switcher-background);

  &:after {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    top: 2px;
    left: var(--switcher-left);
    background: var(--switcher-gradient);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transform: var(--switcher-transform);
    transition: 0.3s;
  }

  &:active:after {
    width: 31px;
  }

  & svg {
    position: absolute;
    width: 15px;
    top: 6.5px;
    z-index: 100;

    &.sun {
      left: 6.5px;
      fill: var(--switcher-sun);
      transition: 0.3s;
    }

    &.moon {
      left: 38.5px;
      fill: var(--switcher-moon);
      transition: 0.3s;
    }
  }
}

/* change background color if the OS is on Dark Mode */
@mixin dark {
  body {
    color: var(--bs-white);
    --bs-border-color: var(--bs-gray-800);
    background-color: var(--bs-gray-900) !important;
  }

  .background-image:before {
    background: url("background_dark.jpg");
    background-size: cover;
  }

  .navbar, .offcanvas {
    background-color: var(--bs-black) !important;
  }

  .card, .modal-content {
    color: #fff !important;
    --bs-modal-header-border-color: var(--bs-gray-700);
    --bs-modal-footer-border-color: var(--bs-gray-700);
    --bs-body-color-rgb: var(--bs-white-rgb);
    --bs-bg-opacity: 1;
    background-color: var(--bs-gray-800) !important;
  }

  //.carousel-control-prev-icon, .carousel-control-next-icon{
  //  filter: invert(0) !important;
  //}

  .order > .card {
    background-color: inherit !important;
  }

  .order-item-input {
    color: #fff !important;
    border-color: var(--bs-gray-700);
    --bs-bg-opacity: 1;
    background-color: var(--bs-gray-700);
  }

  #order_items > div {
    border-radius: 0.5em;
    background-color: var(--bs-gray-800) !important;
  }

  .dropdown-menu {
    background-color: var(--bs-gray-700) !important;
  }

  .dropdown-item {
    //color: var(--bs-white) !important;
  }

  .btn-close {
    filter: invert(1);
  }
}

[data-color-mode="dark"] {
  @include dark;
}

//@media (prefers-color-scheme: dark) {
//  @include dark;
//}
//
///* force the dark mode when OS interface is light */
//@media (prefers-color-scheme: light) {
//  [data-color-mode="dark"] {
//    @include dark;
//  }
//}

///* follow the OS interface colors or force the dark theme */
//@media (prefers-color-scheme: dark) {
//  [data-color-mode="auto"], [data-color-mode="dark"] {
//    @include dark;
//  }
//}