<div class="flex-grow-0 dropdown align-items-center">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= icon("fa-solid", "arrow-down-short-wide", 'Sort by', class: "fa-lg ") %>
  </button>
  <ul class="dropdown-menu">
    <li class="dropdown-item">Name</li>
    <li class="dropdown-item">Price</li>
  </ul>
  <%#= link_to icon("fa-solid", "filter", I18n.t('admin.filters.button').upcase, class: "fa-lg "), root_path, class: "btn btn-outline-secondary fw-bold" %>
</div>