<li class="nav-item language-select">
  <ul class="d-flex">
    <%= link_to 'UA', url_for(locale: :uk), class: 'link-secondary text-decoration-none px-2' %>
    <%= link_to 'EN', url_for(locale: :en), class: 'link-secondary text-decoration-none px-2' %>
  </ul>
</li>
