<li class="nav-item language-select d-flex align-items-center">
  <ul class="d-flex">
    <% LOCALES.each_pair do |name, sym| %>
      <%= link_to name.to_s.upcase, url_for(locale: sym), class: 'link-secondary text-decoration-none px-2' %>
    <% end %>
  </ul>
</li>
