<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container" style="width: auto">
    <a class="navbar-brand" href="/">Ruby Shop</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Home", "/", class: "nav-item nav-link" %>
      <% if user_signed_in? %>
        <%= link_to orders_path, class: "nav-item nav-link" do %>
          Cart
          <% if current_order.order_items.size > 0 %>
            <span class="badge text-bg-secondary"><%= current_order.order_items.size %></span>
          <% end %>
        <% end %>

        <%= link_to "Log Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "nav-item nav-link" %>
      <% end %>


    </div>
  </div>
</nav>
